<!-- index.html -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous"/>
    <title>Main Page</title>
  </head>

  <body>
  <!-- ===== 네비게이션 ===== -->
  <div th:replace="~{fragments/navbar :: navbar}"></div>

  <!-- ===== 제목: 게시글 목록 ===== -->
  <div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <div>
        <h2>전체 게시글</h2>
      </div>

      <!-- 글쓰기 버튼 -->
      <a class="btn btn-primary" th:href="@{|/posts-form|}">
        글쓰기
      </a>
    </div>

    <!-- ===== 본문: 게시글 목록 ===== -->
    <div th:replace="~{fragments/post-list :: postList(${postsPage}, ${postsPage.content}, ${loggedIn}, ${memberPrincipalId}, '/')}"></div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWJrWVcXK/BmnVDxM+D2scQbITxI"
          crossorigin="anonymous"></script>
  </body>
</html>
